@import "colors.css";
@import "switch.css";
@import "cards-container.css";
@import "media-queries.css";

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
  min-height: 100vh;
  background: var(--background);
}
html {
  /* img inside body were not appearing cut due to something other than padding */
  position: relative;
}
.top-bg {
  position: absolute; top: 0; right: 0;
  z-index: -1;
}
.bottom-bg {
  position: absolute; bottom: 0; left: 0;
}

h1 { 
  font-size: 3.5em;
  margin: 0 auto;
}
h2 {
  font-size: 1.7rem;
  margin: 7vh auto 6vh;
}
h2 {
  color: var(--gray);
}
h3 {
  margin-top: 0;
  font-size: 1rem;
}
h4 {
  font-size: 0.9em;
}

small {
  color: var(--light-gray);
  font-size: 0.9em;
}


.attribution {
  margin-top: 7vh;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
  text-decoration: none;
}
.attribution a:hover {
  color: #6079dd;
}